@charset "ISO-8859-1";
/* CSS Document */
/* changes to css for medium size screens */

div.large-logo {
	width: 50%;
}

a#lab-list {
	display: inline-block;
	padding: 0.5em 1em;
}

section.project-summary {
	float: left;
	width: 70%;
	padding: 2% 0 2% 2%;
}

h1.project-summary {
	width: 30%;
}

section.home-lab-list {
	float: none;
	width: 70%;
	padding: 2% 0 2% 0;
	margin-top: 3em;
	margin-left: 22%;	
}
