@charset "ISO-8859-1";
/* CSS Document */

form.login {
	border: 4px double #03AA0D;
	border-radius: 15px;	
	text-align: center;
	padding: 0.5em;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #A7DAFA;
}

form.login > * {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1em;
	font-weight: 600;
	margin: 0.5em;
}

input#submit-login { 
	font-size: 1.1em;
	padding: 5px 25px ;
	background-color:#03CA0D;
	margin: 0.75em;
}

input[type=checkbox] {
	width: 1.5em; 
	height: 1.5em;
	margin: 0.5em;
}

