@charset "ISO-8859-1";
/* CSS Document */


div.wrapper { 
	background-color: antiquewhite;
}

header.grid-container { 
	min-width: 100%;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 150px auto 25%;
	grid-template-rows: 151px;
	border-bottom: 2px solid black;
}

img.small-logo { 
	width: 150px; 
	height: 150px; 
}

img.large-logo {
	min-width: 95%;
	height: 120px;
	padding: 15px 2.5%;
}

nav.login {	
	padding: 5px 25px;
	background-color: aquamarine; 
}

aside.quote {
	float: left;
	width: 10%;
	padding: 5px 2.5%;
}

nav.home-lab-list {
	float: right;
	width: 20%;
	padding: 5px 2.5%;
}

section.project-summary {
	float: left;
	width: 55%;
	padding: 5px 2.5%;
}

footer.legal {  
	clear: both;
	padding: 5px 2.5%;
	border-top: 2px solid black;
}
