@charset "ISO-8859-1";
/* CSS Document */
/* changes to css for medium size screens */


div.logo {
	background-size:  40% 75%;
}

div.sign-in {
	position: absolute;
	top: 0;
	right: 0;	
	width: 200px;
	padding: 1em 0.5em 0.5em 0.5em;
}

a#new-labs {
	display: inline-block;
	margin: 0.5em 0 0 1.5em;
}

section.main-content {
	float: left;
	width: 70%;
	padding: 2% 0 2% 2%;
	margin-bottom: 1em;
}

section.new-labs {
	clear: both;
	float: none;
	width: auto;
	padding: 2% 0 2% 0;		
	position: relative;
	right: 0;
	border-left: none;
	border-right: none;
}
