@charset "ISO-8859-1";
/* CSS Document */
/* changes to css for phone size screens */

@media screen and (max-width: 600px) {

	header{ 
		height: 125px;
	}

	div.logo {
		background:  none;
	}

	a {
		margin: 0.25em;
		padding: 0;
	}

	div.sign-in {
		position: absolute;
		top: 0;
		right: 0;	
		width: 53%;
		padding: 1em 0.5em 0.5em 0.5em;
	}

	aside.nav-quote {
		clear: both;
		float: none;
		width: auto;
		margin: auto;
		left: 0;
		padding: 2%;
		border-left: none;
		border-right: none;
		
	}

	div.quote {
		display: none;
	}

	nav.navigation > a {
		display: inline-block;
		padding: 0;
	}

	a#new-labs {
		display: inline-block;
		margin: 0.5em 0 0 1.5em;
	}

	section.main-content {
		clear: both;
		float: none;
		width: auto;
		padding: 2% 4% 6% 4%;
	}

	section.new-labs {
		clear: both;
		float: none;
		width: auto;
		padding: 2% 0 2% 0;		
		position: relative;
		right: 0;
		border-left: none;
		border-right: none;
	}

}
