@charset "ISO-8859-1";
/* CSS Document */
/* changes to css for phone size screens */

@media screen and (max-width: 600px) {

header{ 
	height: 125px;
}

div.logo {
	background:  none;
}

a {
	margin: 0.25em;
	padding: 0;
}

div.sign-in {
	position: absolute;
	top: 0;
	right: 0;	
	width: 53%;
	padding: 1em 0.5em 0.5em 0.5em;
}

aside.nav-quote {
	clear: both;
	float: none;
	width: auto;
	margin: auto;
	left: 0;
	border-left: none;
	border-right: none;
	border-radius: 0 0 0 0;
}

div.quote {
	display: none;
}

a.navigation {
	display: inline-block;
	padding: 0 1em;
}

section.main-content {
	clear: both;
	float: none;
	width: auto;
	padding: 2% 4% 6% 4%;
}

a.top_link {
	display: inline-block;
	margin: 0.5em;
}

section.new_labs {
	clear: both;
	width: 100%;
	border: none;
}

article.new_labs:first-of-type {
	border-top: 2px solid #03AA0D;
}

article.new_labs:last-of-type {
	border-bottom: 2px solid #03AA0D;
}

img.summary {
	margin-bottom: 1em;
}

img.card {
	display: block;
	width: 80%;
	height: 100%;
	margin: auto;
	padding-bottom: 10px;	
}

}



