@charset "ISO-8859-1";
/* CSS Document */
/* for all size screens */

/* remove preset brouser defaults */
* {
	margin: 0; 
	padding: 0;
}

/* outermost container inside body */
div.wrapper { 
	border: 2px solid #03AA0D;
	border-radius: 10px;
	margin: 0px;
	background: lightyellow;
}

/* Inner page link only shown on tablets, phones, 
and other small screens. */
a#new-labs {
	display: none;
}

a {
	display: inline-block;
	font-weight: 900;	
}

a#quote-link {
	margin: 0.5em;
}

a#bottom {
	margin: 2em 0 0.5em 1.5em;
}

h1 {
	font-size: 1.3em;
	margin: 0.5em 0;
}

h2 {
	font-size: 1.1em;
	margin: 0.5em 0;
}

h3 {
	font-size: 1.0em;
	margin: 0.5em 0;
}

p {
	margin: 0.5em 0;
}


a#top {
	margin: 0;
	padding: 0;
	height: 115px;
	width: 150%;
	text-decoration: none;
}

header{ 
	height: 125px;
	border-bottom: 2px solid #03AA0D;
	border-radius: 10px;
	background: #A7DAFA;
	text-align: center;
}

div.logo {	
	height: 125px;
	background: url("../images/3D logo Physics in Motion 12 2 18.png");
	background-origin: content-box;
	background-position: center;
	background-repeat: no-repeat;
	background-size:  50% 80%;	
}

/**
div.logo {	
	height: 125px;
	text-align: center;	
	font-family: "Times New Roman", "serif";
	font-size: 5em;
}
**/

h1.logo-print-view {
	display: none;
}

div.logo-summary {
	position: absolute;
	top: 80px;
	
}

div.sign-in {
	border: 2px solid #03AA0D;
	border-radius: 10px;
	text-align: center;
	padding: 1em 0.5em 0.5em 0.5em;
	position: absolute;
	top: 0;
	right: 0;
	background-color: lightyellow;
	font-size: 1em;
	font-weight: 600;
	height: 101px;
	width: 15.5%;
}

div.sign-in > * {
	display: inline-block;
	margin: 0.5em;
}

input[type=button] {
	font-family: "Times New Roman", "serif";
	font-size: 1em;
	padding: 5px 25px;
	background-color: #A7DAFA;
}

aside.nav-quote {
	float: left;
	width: 15%;
	border: 2px solid #03AA0D;
	border-radius: 10px;
	background-color: #A7DAFA;
	position: relative;
	left: -2px;
	top: -2px;
}

a.navigation {
	display: inline-block;
	padding: 1em;
	width: 83%;
}

hr {
	border: 1px solid #03AA0D;
}

div.quote {
	padding: 1em;
	border: 2px solid #03AA0D;
	border-radius: 10px;
	background-color: lightyellow;
}

div.quote > h2 {
	margin: 0 0 1em 0;
}

section.main-content {
	float: left;
	width: 55%;
	padding: 0 0 1% 2%;
}

section.new-labs {
	float: right;
	width: 25%;
	text-align: center;
	border: 2px solid #03AA0D;
	border-radius: 10px;
	padding-bottom: 1em;
	background-color: #A7DAFA;
	position: relative;
	left: 2px;
	top: -2px;
}

article.new-labs {
	padding: 1em;
	margin-bottom: 0;
	background-color: #A7DAFA;
	text-align: center;
	border-bottom: 2px solid #03AA0D;
}

img.new-labs {
	display: block;
	margin: auto;
	border: 2px solid #03AA0D;
	border-radius: 10px;
}

h1.new-labs {
	padding: 0.5em 1em;
}

h1.development-status, h1.green {
	color: #03AA0D;
}

h1.new-status {
	color: red;
}

footer {  
	clear: both;
	padding: 2%;
	border-top: 2px solid #03AA0D;
	border-radius: 10px;
	background-color: #A7DAFA;
}
