@charset "ISO-8859-1";
/* CSS Document */

section.main-content-forms {
	float: left;
	width: 54%;
	padding: 0 0 1% 2%;
}

h1.form, h2.form {
	margin: 0.5em 0.5em 0.5em 0;
}

.center {
	text-align: center;
}

h1.welcome {
	padding: 0.5em 0 0 0.5em;
}

div.form-errors {
	color: red;
	font-weight: 900;
	margin: 0 5em;
}

form {
	width: auto;
	padding-bottom: 1em;
}

form > * {
	font-family: "Times New Roman", "serif";
	font-size: 1em;
	margin: 0.5em;
}

br.form {
	display: block;
	margin: 4px 0;
}

fieldset {
	display: block;
	padding: 0 1em 1em 1em;
	margin-bottom: 1em;
	border: 2px solid #03AA0D;
	border-radius: 10px;
	background-color: #A7DAFA;
}

div.clear-both {
	clear: both;
}

input[type=text],  textarea {
	margin: 0.5em 0;
	width: 96%;
	padding: 0.3em;
	padding-left: 7px;
	border: 2px solid #03AA0D;
	border-radius: 5px;
	background-color: lightyellow;	
}

input[type=checkbox] {
	width: 1.5em; 
	height: 1.5em;
	margin: 0.5em 0;
}

input[type=number] {
	width: 6em;
	height: 1.5em;
	margin: 0.5em 0;
	border: 2px solid #03AA0D;
	border-radius: 5px;
	background-color: lightyellow;	
	padding-left: 7px;
	padding-right: 3px;
	font-family: "Times New Roman", "serif";
	font-size: 1em;
}

input[type=date] {
	font-family: "Times New Roman", "serif";
	font-size: 1em;
	height: 1.5em;
	margin: 0.5em 0;
	border: 2px solid #03AA0D;
	border-radius: 5px;
	background-color: lightyellow;	
	padding-left: 7px;
}

input:invalid, textarea:invalid select:invalid {
	border: 2px solid red;
	border-radius: 5px;
	background-color: #ffd4d4;
}

div.formButtonDiv {
	float: right;
	padding-right: 2%;
}

a.button { 
	font-family: "Times New Roman", "serif";
	font-size: 1em;
	padding: 5px 20px ;
	background-color: #03CA0D;
	margin: 0.75em 0.5em;
	font-weight: bold;
	border-radius: 5px;
	text-decoration: none;
	border: 2px solid white;
	border-style: outset;
	color: black;
}

input[type=submit] { 
	font-family: "Times New Roman", "serif";
	font-size: 1em;
	padding: 5px 25px ;
	background-color: #03CA0D;
	margin: 0.75em 0.5em;
	font-weight: bold;
	border-radius: 5px;
}

input[type=reset] { 
	font-family: "Times New Roman", "serif";
	font-size: 1em;
	padding: 5px 25px ;
	background-color: red;
	color: white;
	margin: 0.75em 0.5em;
	font-weight: bold;
	border-radius: 5px;
}

ul {
	padding-left: 40px;
}

div.fileDiv {
	font-family: "Times New Roman", "serif";
	font-size: 1em;	
	margin: 0.25em 0;
	padding: 2px;
	font-weight: bold;
	border-radius: 5px;
	border: 2px solid #03AA0D;
	background-color: lightyellow;
	width: 96%;
}


input[type=file] {
	font-family: "Times New Roman", "serif";
	font-size: 1em;
}


div.form-select {
	background-color: lightyellow;
	color: black;
	border-radius: 5px;
	border: 2px solid #03AA0D;
	width: 300px;
	padding: 3px;
	text-align: right;
	margin: 0.25em 0;
}

div.form-select select {
	background: transparent;
	border: none;
	font-family: "Times New Roman", "serif";
	font-size: 1em;
	width: 300px;
}

/** star ratings **/

div.rating {
	float: left;
	padding: 10px;
}

div.rating span {
	font-size: 2em;
	color: gray;
	cursor: pointer;
}

div.rating {
	padding-left: 0;
}

div.rating input[type=radio] {
	width: 2em; 
	height: 2em;
	margin: 0.5em 0;
	opacity: 0;
	cursor: pointer;
	position: relative;
	left: -36px;
	top: 2px;
}


@media screen and (max-width: 950px) {
	
	h1.logo-statement {
		width: 80%;
		position: relative;
		left: 3%;
	}
	
	section.main-content {
		width: 70%;
		padding: 0 0 0 5%;
	}

}


@media screen and (max-width: 600px) {
	
	h1.logo-statement {
		width: 80%;
		position: relative;
		left: 3%;
	}
	
	section.main-content {
		width: 90%;
		padding: 0 0 0 5%;	
	}
	
}






