@charset "ISO-8859-1";
/* CSS Document */

section.main-content {
	float: left;
	padding: 0 0 1% 2%;
	width: 75%;
}


aside.second-navigation {
	border-left: 2px solid #03AA0D;
	border-right: 2px solid #03AA0D;
	background-color: #A7DAFA;
	width: 100%;
	text-align: left;
	position: relative;
	left: -2px;
}


a.navigation, button.navigation {
	background-color: inherit;
	border: none;
	font-family: "Times New Roman", "serif";
	font-size: 1em;
	color: blue;
	text-align: left;
	font-weight: 900;
}

h2.navigation {
	border: 2px solid #03AA0D;
	border-radius: 10px;
	text-align: center;
	padding: 0.25em 0;
	background-color: lightyellow;
}

.fullSelectedNotice {
	/*display: none;*/
	background-color: white;
	border: 2px solid #03AA0D;
	border-radius: 10px;
}

.flag-for-review {
	color: red;
}

h1.welcome {
	margin-bottom: 20px;
}

table h2, table h1 {
	margin: 0;
}

p.info {
	margin-top: 20px;
}

div.overflow {
	overflow: auto;
	margin: 30px 0;
}

a.assignment_link {
	margin: 5px;
}

/* tables */

table {
	border: 2px solid #03AA0D;
	border-radius: 10px;
}

table.noticeSummary {
	margin: 30px 0;
}

th, td {
	padding: 5px 10px;	
	text-align: left;
}

th {
	background-color: #A7DAFA;
}



td.center {
	text-align: center;
}

tr:nth-child(even){
	background-color: #e6e6e6;
}

table.notice-header tr:nth-child(even){
	background-color: #e6e6e6;
}


tr:hover {
	background-color: #81fd8a;
}

/* display selected notice */

table.selectedNotice {
	border: none;
	width: 100%;
	background-color: lightyellow;
}

table.selectedNotice tr:hover {
	background-color: lightyellow;
}

table.selectedNotice tr:nth-child(even){
	background-color: lightyellow;
}

td.right {
	text-align: right;
}

td.bold {
	font-weight: 900;
	font-size: 1.2em;
}

th.sectionRowHeader {
	border: 2px solid #03AA0D;
	border-radius: 5px;
	background-color: #A7DAFA;
}

table hr {
	border-bottom: 1px solid Gainsboro;
}

td.response {
	background-color: #e6e6e6;
	border-radius: 10px;
}

div.selectedNotice {
	display: none;
}

/* buttons */



button.showNoticeButton {
	background-color: inherit;
	border: none;
	font-family: "Times New Roman", "serif";
	font-size: 1em;
	color: black;
}

.button:hover {
	background-color: #81fd8a;
}

.table-button {
	font-family: "Times New Roman", "serif";
	font-size: 1em;
	padding: 5px 10px;
	background-color: #03CA0D;
	margin: 0.75em 0.5em;
	font-weight: bold;
	border-radius: 5px;
	text-decoration: none;
	border: 2px solid white;
	border-style: outset;
	color: black;
}

.table-button:active {
  transform: translateX(-2px);
