@charset "ISO-8859-1";
/* CSS Document */


div.wrapper { 
	background-color: cornsilk;
	border: 2px double #03AA0D;
	border-radius: 15px;
}

h1 {
	font-size: 1.3em;
}

h2 {
	font-size: 1em;
}

header.grid-container { 
	min-width: 100%;
	height: 151px;
	display: grid;
	grid-template-columns: 25% 25% 20%;
	grid-template-rows: 50% 50%;
	border-bottom: 2px double #03AA0D;
	border-bottom-right-radius: 15px;
}

img.large-logo {
	height: 200%;
	min-width: 275%;
	grid-column: 1;
	grid-row: 1;
	padding: 5%;
}

nav.login {
	grid-column: 4;
	grid-row: 1 / span 2;
	padding: 0 15px;
	border: 2px double #03AA0D;
	border-radius: 15px;
	background-color: white;
}

aside.quotes {
	float: left;
	width: 10%;
	padding: 32px 0 32px 2.5%;
}

aside.quotes > div {
	padding: 0 15px;
	margin-top: 20px;
	border: 2px double #03AA0D;
	border-radius: 15px;
	background-color: white;
}

section.project-summary {
	float: left;
	width: 55%;
	padding: 5px 2.5% 5px 2.5%;
}

section.home-lab-list {
	float: right;
	width: 25%;
	padding: 5px 2.5% 25px 0;
}

article.home-lab-list {
	padding: 0 15px;
	border: 2px double #03AA0D;
	border-radius: 15px;
	margin-bottom: 25px;
	background-color: white;
}

footer.legal {  
	clear: both;
	padding: 5px 2.5%;
	border-top: 2px double #03AA0D;
	background-color: white;
}
