@charset "ISO-8859-1";
/* CSS Document */
/* for all size screens */

/** navigation **/

aside.nav-quote {
	float: left;
	width: 16%;
	border: 2px solid #03AA0D;
	border-radius: 10px;
	background-color: #A7DAFA;
	position: relative;
	left: -2px;
	top: -2px;
}

nav.second-navigation {
	border-left: 2px solid #03AA0D;
	border-right: 2px solid #03AA0D;
	background-color: #A7DAFA;
	width: 100%;
	text-align: left;
	position: relative;
	left: -2px;
}

a.navigation, button.navigation {
	display: block;
	padding: 0.5em 1em;
	width: 83%;
	text-decoration: none;
	background-color: inherit;
	border: none;
	font-family: "Times New Roman", "serif";
	font-size: 1em;
	color: blue;
	text-align: left;
	font-weight: 900;	
	cursor: pointer;
}


hr {
	border: 1px solid #03AA0D;
}

h2.navigation {
	border-top: 2px solid #03AA0D;
	border-bottom: 2px solid #03AA0D;
	border-radius: 10px;
	text-align: center;
	padding: 0.25em 0;
	margin: 0;
	background-color: lightyellow;
}

h2.main-nav {
	border: none;
	border-bottom: 2px solid #03AA0D;
	margin-bottom: 0.25em;
}

div.quote {
	margin-top: 0.5em;
	padding: 1em 1em 1em 0.5em;
	border-top: 2px solid #03AA0D;
	border-radius: 10px;
	background-color: lightyellow;
	text-align: center;
}

div.quote > h2 {
	margin: 0 0 1em 0;
}



