@charset "ISO-8859-1";
/* CSS Document */

@import "main-phone.css";

div.login {
	display: none;
}

h1.large-logo {
	display: inline-block;
	position: absolute;
	top: -50;
	right: 0;
}

aside.nav-quote {
	margin: auto;
	position: relative;
	top: 0;
	left: 0;
}

h1.summary {
	width: auto;
	position: relative;
	top: 0;
	left: 0;
	font-size: 1.1em;
}
