@charset "ISO-8859-1";
/* CSS Document */

@import "main-phone.css";

div.sign-in {
	display: none;
}

h1.logo {
	display: inline-block;
	position: absolute;
	top: 0;
}

img.cornerLogo {
	width: 150px;
	
}

aside.nav-quote {
	margin: auto;
	position: relative;
	top: 0;
	left: 0;
}

h1.summary {
	width: auto;
	position: relative;
	top: 0;
	left: 0;
	font-size: 1.1em;
}

#secondary-navigation{
	display: none;
}