@charset "ISO-8859-1";
/* CSS Document */

section.main-content {
	float: left;
	width: 54%;
	padding: 0 0 1% 2%;
}

h1.logo-statement {
	padding-top: 0.5em;
}

h1.quotes {
	padding: 0.5em;
	margin: 0;
	border-bottom: 2px solid #03AA0D;
	border-radius: 10px;
	background-color: #A7DAFA;
}

section.quotes {
	border: 2px solid #03AA0D;
	border-radius: 10px;
	text-align: center;
}

article.quotes {
	padding-top: 1.5em;
}
