@charset "ISO-8859-1";
/* CSS Document */


h1.logo-statement {
	position: relative;
	left: 1.5%;
}

h1.form, h2.form {
	margin: 0.5em 0.5em 0.5em 0;
}

span {
	color: red;
}
	

a {
	display: inline-block;
	font-weight: 900;	
	margin: 0.5em 0;
}

section.main-content {
	float: left;
	width: 50%;
	padding: 0 0 0 5%;
	margin-bottom: 2em;	
}

form {
	width: auto;
	padding-bottom: 1em;
}

form > * {
	font-family: "Times New Roman", "serif";
	font-size: 1em;
	margin: 0.5em;
}

fieldset {
	display: block;
	padding: 0 1em 1em 1em;
	margin-bottom: 1em;
	border: 4px double #03AA0D;
	border-radius: 15px;
	background-color: #A7DAFA;
}

legend {
	font-size: 1em;
}
	
ul {
	padding-left: 2em;
}

input[type=text],  input[type=email], input[type=password] {
	margin: 0.5em 0;
	width: 96%;
	padding: 0.5em;
	border: 2px solid #03AA0D;
	border-radius: 5px;
	background-color: lightyellow;	
}

input[type=checkbox] {
	width: 1.5em; 
	height: 1.5em;
	margin: 0.5em 0;
}

input[type=submit], input[type=button] { 
	font-size: 1em;
	padding: 5px 25px ;
	background-color:#03CA0D;
	margin: 0.75em 0.5em;
}

input:invalid {
	border: 2px solid red;
	background-color: #ffd4d4;
}

input[type=radio]:invalid {
	outline: 3px solid red;
}

.form-errors {
	color: red;
	font-weight: 900;
	margin: 0 5em;
}


@media screen and (max-width: 950px) {
	
	h1.logo-statement {
		width: 80%;
		position: relative;
		left: 3%;
	}
	
	section.main-content {
		width: 70%;
		padding: 0 0 0 5%;
	}

}


@media screen and (max-width: 600px) {
	
	h1.logo-statement {
		width: 80%;
		position: relative;
		left: 3%;
	}
	
	section.main-content {
		width: 90%;
		padding: 0 0 0 5%;	
	}
	
}






