@charset "ISO-8859-1";
/* CSS Document */

section.main-content {
	float: left;
	min-width: 80%;
	margin-bottom: 2em;		
}

/* grid style specific lab information page */

.grid-lab-info {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: auto;
}


@media screen and (max-width: 950px) {
	.grid-lab-info {
	  display: block;  
	}
}

/* page style details */

h1, h2 {
	text-align: center;
}

img.lab-info {
	height: 200px;
	border: 2px solid #03AA0D;
	border-radius: 10px;
	margin: 15px 25px 15px 0px;
}

img.right {
	float: right;
}

img.left {
	float: left;
}

article.lab-info > div {
	text-align: left;
}

article.lab-info > div > h2, article.lab-info > div > h1 {
	text-align: left;
}

a#bottom {
	display: block;
}

.development-status {
	color: #03AA0D;
}

.new-status {
	color: red;
}




