@charset "ISO-8859-1";
/* CSS Document */

h1.logo-statement, h1.labs {
	text-align: center;
}


section.main-content {
	float: left;
	width: 80%;
	margin-bottom: 2em;		
}

.grid-container {
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-columns: auto auto auto auto;
  padding: 0 20px;
}

@media screen and (max-width: 1200px) {
	.grid-container {
	  grid-template-columns: auto auto auto;	  
	}
}

@media screen and (max-width: 950px) {
	.grid-container {
	  grid-template-columns: auto auto;	  
	}
}

@media screen and (max-width: 700px) {
	.grid-container {
	  display: block;	  
	}
}

.grid-lab-info {
  display: grid;
  grid-template-columns: auto auto;
  padding: 0 20px;
}

@media screen and (max-width: 1200px) {
	.grid-lab-info {
	  grid-template-columns: auto;	  
	}
}

@media screen and (max-width: 950px) {
	.grid-lab-info {
	  display: block;  
	}
}

img.labs {
	height: 100px;
	margin-bottom: 0.5em;
}

img.lab-info {
	height: 200px;
	padding:  1.5em 1em;
	border: 2px solid #03AA0D;
}

article.labs {
	padding: 1em;
	border: 2px solid #03AA0D;
	border-radius: 5px;
}

article.lab-info {
	padding: 1em;
	border: 2px solid #03AA0D;
}

article.labs > h1,  article.labs > h2 {
	margin: 0 0 0.5em 0;
	text-align: center;
}

a.labs {
	margin: 0.5em 0;
}

a#bottom {
	display: block;
}

.development-status {
	color: #03AA0D;
}

.new-status {
	color: red;
}




