
<footer>

	<h1>Legal disclaimer</h1>
	<p>This website is part of a Graduate Project by Cheryl Nielsen for an MS <a href="http://cs.sfsu.edu/">Computer Science</a> degree at <a href="http://www.sfsu.edu/">San Francisco State University</a>, USA. 
	<br>
	For more information about Physics in Motion, see the <a href="https://github.com/cherylnielsen">GitHub code repository</a> and <a href="https://github.com/cherylnielsen/Physics-In-Motion-Website/wiki">Wiki pages</a>.
	</p>
	<p class="update-time">		
		Last updated November 28, 2018.
	</p>

</footer>