
	<!-- Project Summary -->

	<div class="grid-container">
	
	<article class="summary">
		<img src=" images/home/lab-lounge.png" alt="The Tutorial Lab Lounge" class="summary right">
		<div>
			<h1 class="summary">Why&nbsp;Physics in&nbsp;Motion?</h1>		
			<p class="summary">
			The goal of Physics in Motion is a more intuitive understanding based on the firsthand experience of a subject. Physics and Engineering classes are difficult and have high dropout rates. Attending lectures and reading textbooks is frequently not enough to understand these subjects. A different approach is needed to make the material easier to understand. 
			</p>
		</div>
	</article>
	
	<article class="summary">
		<img src=" images/home/generic-lab-room.png" alt="Generic tutorial lab room with closeup of graph" class="summary left">
		<div>
			<h1 class="summary tech">3D&nbsp;Technology</h1>
			<p class="summary">
			Physics in Motion uses today's powerful interactive online 3D gaming technologies to create a new type of online science tutorial. Not a game, but a visual, immersive, and hands on learning experience in the form of Tutorial Labs that let the Student explore. Each Tutorial Lab is animated and fully interactive to make the topics more approachable, interesting, and informative.
			</p>
		</div>
	</article>

	<article class="summary">
		<img src=" images/home/lab-graph-closeup.png" alt="Generic Tutorial Lab Room" class="summary right">
		<div>
			<h1 class="summary">Tutorial&nbsp;Labs</h1>		
			<ul class="summary">
				<li>Students perform hands-on interactive experiments and activities related to the concepts they are trying to learn.</li>
				<li>Data is collected electronically, as if in a standard industrial lab.</li>
				<li>Students analyze the data with interactive graphs and calculations.</li>
				<li>A Tutorial Lab summary will be provided to Students along with data, graphs, and equations.</li>
			</ul>	
		</div>
	</article>
	
	<article class="summary">
		<img src=" images/home/lab-info-panel-closeup.png" alt="Generic tutorial lab room with closeup of information panel" class="summary left">
		<div>
			<h1 class="summary">Automated&nbsp;Mentor</h1>
			<p class="summary">
				The Automated Mentor explains topics, gives hints, and provides corrections as needed. The Automated Mentor looks for errors, and reponds to Student requests for help. Any problems, errors, or corrections are documented as reminders in the Tutorial Lab summary.
			</p>	
		</div>
	</article>
	
	<article class="summary">
		<img src=" images/home/generic-lab-room.png" alt="Generic Tutorial Lab Room" class="summary right">
		<div>
			<h1 class="summary">Professor&nbsp;and Student&nbsp;Services</h1>
			<ul class="summary">
				<li>Listing Tutorial Labs each Student has been assigned or completed.</li>
				<li>Download Tutorial Lab summaries, data, graphs, and math work submitted by Students.</li>
				<li>Information about frequent problems, errors, or corrections encountered by Students on an assigned Tutorial Lab.
				<li>Sending notices to Professors or Students.</li>
			</ul>
		</div>
	</article>

	</div>
	
	